$bg-color: #d7fbfd;
$dark-color: #0082a1;
* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body {
    background-color: $bg-color;
}
.container {
    max-width: 1440px;
    padding: 50px 50px;
    margin: 0 auto;
}
nav .container {
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        transition: 1s all;
    }
    button {
        margin-right: 0;
    }
}
button {
    max-width: 310px;
    height: 50px;
    border-radius: 10px;
    background-color: $bg-color;
    border: none;
    font-size: 2em;
    font-weight: 500;
    outline: none;
    padding: 0 10px;
}
a {
    text-decoration: none;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.main {
    min-height: 600px;
    .wrapper_name_photo {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        .name {
            animation-name: fadeIn;
            animation-duration: 3s;
            text-align: right;
            margin-right: 10%;
            h1 {
                font-size: 4em;
                font-weight: 500;
                color: #000000;
            }
            a {
                text-decoration: none;
                font-size: 1.8em;
                font-weight: 300;
                color: #000000;
            }
        }
        .photo_logos {
            animation-name: fadeIn;
            animation-duration: 3s;
            ul {
                margin-top: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 300px;
                li {
                    list-style-type: none;
                    a img{
                        width: 50px;
                        height: 50px;
                        opacity: .5;
                    } 
                }
            }
        }
    }
    .download {
        margin: 120px 0 0 10%;
        button {
            text-transform: uppercase;
            font-size: 1.5em;
            font-weight: 500;
            text-align: left;
            text-align: center;
        }
    }
}
.line {
    margin: 5px auto;
    width: 80%;
    height: 5px;
    background-color: $dark-color;
}
.header_section {
    display: flex;
    align-items: center;
    img {
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
}
h2 {
    text-transform: uppercase;
    display: inline-block;
    vertical-align: top;
    font-size: 2em;
    font-weight: 500;
    text-align: center;
}
.date {
    text-align: center;
}
.outer {
    margin: 0 auto;
    width: 80%;
    padding: 20px 0 40px 0px;
}
.inner_grid {
    padding-top: 40px;
    margin-left: 70px;
    font-size: 1.5em;
    padding-top: 20px;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr;
    gap: 20px;
}
span {
    font-weight: 900;
}
.italic {
    font-weight: 500;
    font-style: italic;
}
.education {
    .inner {
        grid-template-rows: 1fr 1fr;
    }
}
.research_int {
    .inner {
        margin-left: calc(15%+20p);
    }
}
h3 {
    margin-top: 40px;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}
.lang_skills_refer{
    display: flex;
    justify-content: space-around;
    align-items: top;
    h2 {
        text-align: center;
        font-size: 1.5em;
    }
    p {
        font-size: 1.5em;
        line-height: 1.25;
    }
    &>div {
        margin-top: 20px;
        width: 40%;
    }
}
footer {
    height: 150px;
    width: 100%;
    background-color: $dark-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    a {
        color: #000;
        text-decoration: none;
        font-size: 2em;
        text-align: center;
    }
    .logos_wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        p {
            color: #000;
            text-decoration: none;
            font-size: 2em;
            text-align: center;
            display: block;
        }
        ul {
            margin-top: 10px;
            li {
                list-style-type: none;
                display: inline-block;
                a img{
                    margin-right: 20px;
                    width: 50px;
                    height: 50px;
                    opacity: .5;
                } 
            }
        }
    }
    .attributes {
        font-size: 1em;
        a {
            font-size: 1em;
        }
    }
}
@media screen and (min-width: 900px) {
    button:hover {
        background-color: $dark-color;
        color: #fff;
        cursor: pointer;
    }
    .main .wrapper_name_photo .photo_logos ul li a img:hover,
    footer .logos_wrapper ul li a img:hover {
        opacity: 1;
    }
    footer a:hover {
        color: #fff;
    }
}
@media screen and (max-width: 1400px) {
    button {
        margin-right: 30px;
        font-size: 1.5em;
        margin-right: 20px;
    }
    nav {
        justify-content: center;
    }
    footer {
        padding: 10px;
        justify-content: space-between;
        a {
            font-size: 1.5em;
        }
        .logos_wrapper {
            ul li a img {
                margin-right: 10px;
            }
            p {
                font-size: 1.5em;
            }
        }
    }
}
@media screen and (max-width: 900px) {
    button {
        font-size: 1em;
    }
    .main {
        .wrapper_name_photo {
            flex-direction: column;
            .name {
                margin-bottom: 10%;
                margin-right: 0;
                text-align: center;
            }
        }
        .download {
            margin-top: 50px;
            text-align: center;
            button {
                margin-right: 0;
            }
        }
    }
    footer {
        flex-direction: column;
        height: 200px;
        text-align: center;
    }
}
@media screen and (max-width: 700px) {
    nav {
        background-color: rgba(0,0,0, .8);
        .container {
            padding: 0;
            .menu {
                width: 100%;
                background-color: rgba(0,0,0, .8);
                flex-direction: column;
                position: absolute;
                top: -100%;
                left: 50%;
                transform: translateX(-50%);
                z-index: 1;
                transition: 1s all;
                a {
                    width: 100%;
                    display: block;
                    // background-color: rgba(0,0,0, .5);
                    button {
                        display: block;
                        margin: 0 auto;
                        color: white;
                        background-color: rgba(0,0,0,0);
                        // padding: 20px 0;
                        width: 100%;
                        height: 100px;
                        border-radius:0;
                        font-size: 2em;
                    }
                }
            }
        }

    }
    .container {
        padding: 0;
    }
    .outer {
        padding: 10px 0;
    }
    .lang_skills_refer {
        flex-direction: column;
        margin-bottom: 10px;
        h2 {
            display: block;
            margin: 0 auto;
            font-size: 1em;
        }
        p {
            text-align: center;
            font-size: 1em;
        }
        &>div {
            width: 100%;
        }
    }
    .main .wrapper_name_photo {
        margin-top: 0;
    }
    .lines {
        z-index: 10;
        padding: 20px;
        height: 70px;
        padding-bottom: 0;
    }
    .lines span {
        display: block;
        margin-top: 10px;
        width: 50px;
        height: 5px;
        background-color: $dark-color;
        transition: 0.5s all;
    }
    .line_active span:nth-child(1){
        transform: rotate(-45deg) translateX(-10px);
    }
    .line_active span:nth-child(2){
        display: none;
    }
    .line_active span:nth-child(3){
        transform: rotate(45deg) translateX(-10px);
    }
    nav .container .mobile {
        top: 90px;
    }
    .inner_grid {
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        .date {
            margin-top: 10px;
        }
    }
    h2 {
        font-size: 1.5em;
    }
    h3 {
        font-size: 1em;
    }
    button:hover {
        background-color: $bg-color;
        color: black;
    }
}
@media screen and (max-width: 500px) {
    footer {
        height: 250px;
        padding-bottom: 20px;
    }
    .inner_grid {
        margin: 0;
        text-align: center;
    }
}
